# Environment variables
.env
.env*
!.env.example

# Logs
*.log
logs

# Git
**/.git

# Node
**/node_modules

# Build
**/.next
**/out
**/build
**/dist
**/tsconfig.tsbuildinfo

# Custom
/data
/helm
apps/api/prisma/seed.ts
