##############
### Global ###
##############
PORT=10000
HOSTNAME=localhost
# Supported values: empty string or path starting with /
BASE_PATH=
DOMAIN=http://${HOSTNAME}:${PORT}
DOMAIN_FULL=${DOMAIN}${BASE_PATH}
# Only utilized in development mode
VERBOSE=false
# Supported values: development, production
NODE_ENV=production

###############
### Next.js ###
###############
NEXT_TELEMETRY_DISABLED=1

##############
### NestJS ###
##############
COOKIE_SECRET=
JWT_ACCESS_TOKEN_NAME=Authentication
JWT_ACCESS_TOKEN_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION_TIME=5m
JWT_REFRESH_TOKEN_NAME=Refresh
JWT_REFRESH_TOKEN_SECRET=
JWT_REFRESH_TOKEN_EXPIRATION_TIME=7d
# Supported values: local, s3
STORAGE_PROVIDER=local
STORAGE_S3_BUCKET=
STORAGE_S3_ACCESS_KEY_ID=
STORAGE_S3_SECRET_ACCESS_KEY=
STORAGE_S3_REGION=
STORAGE_S3_ENDPOINT=
STORAGE_S3_URL=

##################
### PostgreSQL ###
##################
POSTGRES_USER=tarrasque
POSTGRES_PASSWORD=tarrasque
POSTGRES_DB=tarrasque
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?schema=public"

#############
### Caddy ###
#############
# Supported values: local, cloudflare
CADDY_DNS_METHOD=local
CADDY_DNS_CLOUDFLARE_API_TOKEN=

#############
### Redis ###
#############
REDIS_PASSWORD=

############
### Uppy ###
############
TUS_URL=${DOMAIN_FULL}/tus/files/

##############
### Sentry ###
##############
SENTRY_ENABLED=false
SENTRY_DSN=
