encode zstd gzip
request_header -Referer -Server

header {
  -Server
  -X-Powered-By
}

handle_errors {
  rewrite * /maintenance.html
  rewrite /logo.svg /logo.svg
  file_server
}

log {
  output file /var/log/access.log
  format filter {
    wrap console {
      time_format iso8601
    }
    fields {
      request>headers>Authorization delete
      request>headers>Cookie delete
    }
  }
}

# Client
@client path {$BASE_PATH} {$BASE_PATH}/*
handle @client {
  reverse_proxy client:{$PORT}
}

# Server
@server path {$BASE_PATH}/api {$BASE_PATH}/api/*
handle @server {
  reverse_proxy server:{$PORT}
}

# Socket.IO
@socket.io path {$BASE_PATH}/socket.io {$BASE_PATH}/socket.io/*
handle @socket.io {
  reverse_proxy server:{$PORT}
}

# Tus
@tus path {$BASE_PATH}/tus {$BASE_PATH}/tus/*
handle @tus {
  reverse_proxy tus:1080
}

# Uploads
@uploads path {$BASE_PATH}/uploads {$BASE_PATH}/uploads/*
handle @uploads {
  uri strip_prefix /uploads
  root * /uploads
  file_server browse
}

# Plugins
@plugins path {$BASE_PATH}/plugins {$BASE_PATH}/plugins/*
handle @plugins {
  uri strip_prefix /plugins
  root * /plugins
  file_server browse
}
