/* Raleway */
@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway/Raleway-Raleway-Italic-VariableFont_wght.ttf') format('truetype');
  font-style: italic;
}
