html,
body,
#__next {
  height: 100%;
  height: stretch;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

html {
  font-family: 'Raleway', sans-serif;
  -webkit-font-feature-settings: 'lnum';
  -moz-font-feature-settings: 'lnum';
  font-feature-settings: 'lnum';
}

/* Uppy */
.uppy-Dashboard-inner {
  border: none;
}

.uppy-Dashboard-AddFiles {
  height: 100% !important;
  margin: 0 !important;
}

.uppy-Dashboard-dropFilesHereHint {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Custom scrollbar */
:root {
  --scrollbar-track-color: transparent;
  --scrollbar-color: rgba(255, 255, 255, 0.1);
  --scrollbar-width: auto;

  --scrollbar-size: 0.8rem;
  --scrollbar-minlength: 1.5rem;
}

/* Firefox scrollbar */
* {
  scrollbar-width: var(--scrollbar-width);
  scrollbar-color: var(--scrollbar-color) var(--scrollbar-track-color);
}

/* WebKit scrollbar */
::-webkit-scrollbar {
  height: var(--scrollbar-size);
  width: var(--scrollbar-size);
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
}

::-webkit-scrollbar-thumb:vertical {
  min-height: var(--scrollbar-minlength);
}

::-webkit-scrollbar-thumb:horizontal {
  min-width: var(--scrollbar-minlength);
}
