html,
body,
#__next {
  height: 100%;
  height: -webkit-fill-available;
}

html {
  -webkit-font-feature-settings: 'lnum';
  -moz-font-feature-settings: 'lnum';
  font-feature-settings: 'lnum';
}

#__next {
  display: flex;
  align-items: center;
  justify-content: center;
}
